h1,
form,
div {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

table {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
    margin-left: 40%;
    margin-right: 40%;
    border-spacing: 10px;
}

td {
    text-align: center;
    width: 20px;
    height: 20px;
    border: 5px;
    border-color: black;
}

#message {
    display: flex;
    align-items: center;
    justify-content: center;
}

#game-over-form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 45%;
    margin-right: 45%;
    flex-wrap: wrap;
}